<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech - d Type List</title>

    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styleProductTypeList.css">  
    <link rel="stylesheet" href="/css/styleHeader.css">
    <link href="/css/styleFooter.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

<!--Tarjetas de productos -->
    <main>
        <div class="contenedor">

            <h1 class="title"><%= categoryId.toUpperCase() %></h1>

                <section class="contenedor-tarjetas">   
                    <% products.filter(element=> {if(element.category == categoryId) { %>
                    <article class="tarjeta">
                        <a href="/products/<%= element.id %>"><img src="/images/productos/<%=element.img%>" alt="img producto"></a>
                        <p><%= element.name %> </p>
                        <h2>$<%= element.price %>  </h2>
                        <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                        <div class="buttons">    
                            <a href="/"><button class="buy"> Buy</button></a>
                            <a href="/products/<%= element.id %> "><button class="details">Details</button></a>
                        </div>
                    </article>
                    <%}})%>
                </section>
        </div>
    </main>


<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
    
</body>
</html>