<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- Linkear el CSS -->
    <link href="/css/user.css" rel="stylesheet" type="text/css">
    <link href="/css/styleFooterEU.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

    <!-- Linkear íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="register-container">
            <div class="register-title">
                <h3 class="register">Creá tu ID de Usuario</h3>
            </div>
            <form action="/user/register" method="POST" class="form-complete" enctype="multipart/form-data">     
                    <div class="form-box">
                        <label for="user_full_name"></label>
                        <input type="text" placeholder="Full Name" id="user_full_name" name="user_full_name"
                        <% if (locals.errors && errors.user_full_name){  %> 
                            value="<%= errors.user_full_name.msg %>"
                            <%} else if (locals.old && locals.old.user_full_name){ %>
                                value="<%= locals.old.user_full_name %>"
                            <%} else { %>
                                value=""
                            <%}%>
                        >
                    </div>

                    <div class="form-box">
                        <label for="user_mail"></label>
                        <input type="mail" placeholder="example@mail.com" id="user_mail" name="user_mail"
                        <% if (locals.errors && errors.user_mail){  %> 
                            value="<%= locals.errors.user_mail.msg %>" 
                        <%} else if (locals.old && locals.old.user_mail){ %>
                            value="<%= locals.old.user_mail %>"
                        <%} else { %>
                            value=""
                        <%}%>
                        >
                    </div>

                    <div class="form-box">
                        <label for="user_password"></label>
                        <input type="password" placeholder="Password" id="user_password" name="user_password">
                    </div>

                    <div class="form-box">
                        <label for="user_password_verification"></label>
                        <input type="password" placeholder="Password Again" id="user_password_verification" name="user_password_verification">
                    </div>

                    <div class="form-box">
                        <label for="user_photo"></label>
                        <input type="file" accept=".jpg" placeholder="Foto Jpg" id="user_photo" name="user_photo">
                    </div>

                    <div class="no-pass">
                        <a href="/user/login">Already User?</a>
                    </div>
                    
                    <div class="form-button">
                        <button type="submit">Log In</button>
                    </div>

            </form>
            <div class="no-user">
                <a href="/">Back</a>
            </div>
        </div>
    </main>

 <!-- FOOTER -->
 <%- include('./partials/footer.ejs') %>
    
</body>
</html>