<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- Linkear el CSS -->
    <link href="/css/StyleUserProfile.css" rel="stylesheet" type="text/css">
    <link href="/css/styleFooter.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

    <!-- Linkear íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="profile-container">

            <div class="profile-welcome">
                <div class="profile-image">
                    <img class="profile-image-user" src="/images/userAvatars/avatar.png" alt="user-image">
                </div>
                <h3 class="profile-welcome-user">Hola <%= user.first_name %></h3>
            </div>

            <div class="profile-summary">
                <div class="form-box">
                    <label class="form-title">First Name</label>
                    <div class="form-data"><%= user.first_name %></div>
                </div>
                <div class="form-box">
                    <label class="form-title">Last Name</label>
                    <div class="form-data"><%= user.last_name %></div>
                </div>
                <div class="form-box">
                    <label class="form-title">e-mail</label>
                    <div class="form-data"><%= user.email %></div>
                </div>

                <div class="form-button">
                    <a href="/user/edit/<%= user.id %>">
                        <button class="button-edit" type="submit">Edit</button>                           
                    </a>
                </div>
                
                <div class="form-button">
                    <a href="/user/logout">
                        <button class="button-logout" type="">LOGOUT</button>                           
                    </a>
                </div>
            </div>
        </div>
    </main>

 <!-- FOOTER -->
 <%- include('./partials/footer.ejs') %>
    
</body>
</html>